*.log
SITE/wp-config.php
SITE/wp-content/advanced-cache.php
SITE/wp-content/backup-db/
SITE/wp-content/backups/
SITE/wp-content/blogs.dir/
SITE/wp-content/cache/
SITE/wp-content/upgrade/
SITE/wp-content/uploads/
SITE/wp-content/wp-cache-config.php
SITE/wp-content/plugins/hello.php

SITE/.htaccess
SITE//license.txt
SITE//readme.html
/sitemap.xml
/sitemap.xml.gz

